<form autocomplete="off" onsubmit="event.preventDefault();">
    {{!This app is mostly just a dialog box telling the player to just drop items onto the character}}
    {{localize "fantasycraft.Dialog.attackDialog"}}
    {{!Save button}}
    <button class="submit" type="submit"><i class="far fa-save"></i> {{ localize "fantasycraft.traitSave"}}</button>
</form>