<form>
    <div class="form-group">
        <label>{{ localize "fantasycraft.formula" }}</label>
        <input type="text" name="formula" value="{{formula}}" disabled/>
    </div>
    
    <div class="form-group">
        <label>{{ localize "fantasycraft.moraleBonus" }}</label>
        <input type="number" name="moraleValue" value="" placeholder="0" />
    </div>

    <div class="form-group">
        <label>{{ localize "fantasycraft.addSneakDice"}}</label>
        <input type="checkbox" name="sneakAttack" value="1"/>
    </div>
</form>