<form autocomplete="off" onsubmit="event.preventDefault();">
    {{! Skill Selection }}
    <label>{{localize "fantasycraft.resistances"}}</label>
    {{#each choices as |k v|}}
        <div class="form-group item-customization-section">
            <label>{{localize k}}</label>
            <input style="max-width: 50px" name="resistanceValue" value="0"/>
        </div>
    {{/each}}

    <button class="submit" type="submit"><i class="far fa-save"></i> {{ localize "fantasycraft.traitSave"}}</button>
</form>
