<form>
    {{! All Out Attack }}
    <div class="form-group">
        <label>{{localize "fantasycraft.allOutAttackBullseye"}}</label>
        <input type="text" name="allOutAttack" value="0" />
    </div>
    {{! All kinds of "twin attacks"}}
    <div class="form-group">
        <label>{{localize "fantasycraft.twinAttack"}}</label>
        <input type="checkbox" name="twinAttack" />
    </div>
    <div class="form-group">
        <label>{{localize "fantasycraft.quadAttack"}}</label>
        <input type="checkbox" name="quadAttack" />
    </div>
</form>